#
# Comma separated list of features repositories to register by default
#
featuresRepositories = \
     mvn:org.apache.karaf.features/specs/4.4.6/xml/features, \
     mvn:org.apache.karaf.features/framework/4.4.6/xml/features, \
     mvn:org.apache.karaf.features/spring/4.4.6/xml/features, \
     mvn:org.apache.karaf.features/enterprise/4.4.6/xml/features, \
     mvn:org.apache.karaf.features/standard/4.4.6/xml/features, \
     mvn:org.apache.cxf.karaf/apache-cxf/3.6.4/xml/features, \
     mvn:com.kodality.blaze/auth-core/${feature.version}/xml/features, \
     mvn:com.kodality.blaze/auth-rest/${feature.version}/xml/features, \
     mvn:com.kodality.blaze/auth-smart/${feature.version}/xml/features, \
     mvn:com.kodality.blaze/auth-yupi/${feature.version}/xml/features, \
     mvn:com.kodality.blaze/blaze-core/${feature.version}/xml/features, \
     mvn:com.kodality.blaze/etc-conformance/${feature.version}/xml/features, \
     mvn:com.kodality.blaze/feature-conditional-reference/${feature.version}/xml/features, \
     mvn:com.kodality.blaze/fhir-rest/${feature.version}/xml/features, \
     mvn:com.kodality.blaze/fhir-structures/${feature.version}/xml/features, \
     mvn:com.kodality.blaze/resource-binary/${feature.version}/xml/features, \
     mvn:com.kodality.blaze/tx-manager/${feature.version}/xml/features, \
     mvn:com.kodality.blaze/validation-profile/${feature.version}/xml/features
#
# Comma separated list of features to install at startup.
# You can comment out some features that you do not need.
#
featuresBoot = \
    instance/4.4.6, \
    package/4.4.6, \
    log/4.4.6, \
    ssh/4.4.6, \
    framework/4.4.6, \
    system/4.4.6, \
    eventadmin/4.4.6, \
    feature/4.4.6, \
    shell/4.4.6, \
    management/4.4.6, \
    service/4.4.6, \
    jaas/4.4.6, \
    deployer/4.4.6, \
    diagnostic/4.4.6, \
    (wrap/2.6.14), \
    bundle/4.4.6, \
    config/4.4.6, \
    kar/4.4.6, \
    scr/4.4.6, \
    auth-core/${feature.version}, \
    auth-rest/${feature.version}, \
    auth-smart/${feature.version}, \
    auth-yupi/${feature.version}, \
    blaze-core/${feature.version}, \
    etc-conformance/${feature.version}, \
    feature-conditional-reference/${feature.version}, \
    fhir-rest/${feature.version}, \
    fhir-structures/${feature.version}, \
    resource-binary/${feature.version}, \
    tx-manager/${feature.version}, \
    validation-profile/${feature.version}

# Default values
featuresBootAsynchronous=false
autoRefresh=true
